body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fdfaf6;
}

header {
    background-color: #f34213;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header .highlight {
    color: #faee81;
    font-weight: bold;
}

.weekly-pick h2,
.review-top3 h2 {
    color: #f34213;
    margin: 20px 0;
    font-size: 1.8em;
}

.weekly-pick img,
.review-top3 .top-movies img {
    max-width: 300px;
    border: 5px solid #feca57;
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    margin: 0 10px;
}

.menu-item {
    background-color: #f34213;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #feca57;
    color: black;
}

.review-top3 .top-movies {
    display: flex;
    justify-content: center;
    gap: 20px;
}