<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MY PROFILE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>{{ user_name }}님의 <span class="highlight">PROFILE</span></h1>
    </header>
    <main>
        <section>
            <h2>🌸 프로필 정보 🌸</h2>
            <p>리뷰 작성 개수: {{ reviews|length }}</p>

        </section>
        <section>
            <h2>💖 작성한 리뷰 💖</h2>
            {% if reviews %}
            <ul>
                {% for review in reviews %}
                <li>
                    <strong>Movie ID:</strong> {{ review['movieID'] }}<br>
                    <strong>Comment:</strong> {{ review['comment'] }}<br>
                    <strong>Review Date:</strong> {{ review['reviewDate'] }}<br>
                    <strong>Watched Date:</strong> {{ review['watchedDate'] }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>작성한 리뷰가 없습니다. 😢</p>
            {% endif %}
            <a href="{{ url_for('index') }}">Go Back to Home</a>
</body>

</html>